html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
    background-color: #1c1c1c;
  color: white;
  font-weight: 20px;
  font-variant: bolder;
  font-display: boldest;
  font-style: bold;
}

button{
  background-color: #1c1c1c;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}
